*.jar   <--- need gradle-wrapper jar
*.7z
*.a
*.ap_
*.apk
*.app
*.bundle
*.cgo1.go
*.cgo2.c
*.class
*.dex
*.dll
*.dmg
*.dylib
*.ear
*.egg
*.egg-info
*.exe
*.gem
*.gz
*.hprof
*.iml
*.iso
*.la
*.lai
*.lib
*.lo
*.o
*.out
*.py[cod]
*.rar
*.rbc
*.slo
*.so.*
*.tar
*.zip
.coverage
.Rhistory
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_testmain.go
CMakeCache.txt

